@import url(http://fonts.googleapis.com/css?family=Josefin+Sans);

html,
body {
	background:#ececec url(../img/stripe.png);
}

h1 {
	font-family: 'Josefin Sans', sans-serif;
	color:#285f99;
}

.conteudo {
	background:#ececec;
	border-top:1px solid #e6e6e6;
	border-bottom:1px solid #e6e6e6;
	margin-top:10%;
}

.conteudo img {
	padding:20px 0;
}